<div class="container-fluid m-3">
    <h2 class="page-title">
        CW Planning Poker
    </h2>
    
    <nf-form-group>
        <nf-form-control
          label="Join a room with an existing room code"
          hint="Room Code"
          compact="true"
          for="roomControl"
        >
          <input
            type="text"
            id="roomControl"
            class="form-control"
            [formControl]="roomControl"
          />
        </nf-form-control>
        <button nf-button="primary"
            icon="play-circle"
            (click)="joinRoom()"
            class="mt-2">
        </button>
    </nf-form-group>

    <button nf-button="success"
            icon="plus"
            (click)="createRoom()"
            class="mt-2"
            >Create Room
        </button>
</div>
